<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FlyAir</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.fil.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/adminpage</url-pattern>
    <url-pattern>/ticketspage</url-pattern>
  </filter-mapping>
  <servlet>
    <description>adminpage</description>
    <servlet-name>adminpage</servlet-name>
    <jsp-file>/adminpage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminpage</servlet-name>
    <url-pattern>/adminpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>ticketspage</description>
    <servlet-name>ticketspage</servlet-name>
    <jsp-file>/ticketspage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ticketspage</servlet-name>
    <url-pattern>/ticketspage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetFlightServlet</display-name>
    <servlet-name>GetFlightServlet</servlet-name>
    <servlet-class>com.controller.GetFlightServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFlightServlet</servlet-name>
    <url-pattern>/GetFlightServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookServlet</display-name>
    <servlet-name>BookServlet</servlet-name>
    <servlet-class>com.controller.BookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookServlet</servlet-name>
    <url-pattern>/BookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmTicket</display-name>
    <servlet-name>ConfirmTicket</servlet-name>
    <servlet-class>com.controller.ConfirmTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmTicket</servlet-name>
    <url-pattern>/ConfirmTicket</url-pattern>
  </servlet-mapping>
</web-app>